[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=zxm
WorkingDirectory=/home/zxm/sites/SITENAME/source
ExecStart=/home/zxm/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket suplerlists.wsgi:application

[Install]
WantedBy=multi-user.target
